<div class="jumbotron text-center">

    <h1> <i class="fa fa-users" style="color: #93F9B9"></i> Welcome to Dev Match </h1>
    <h3> A membership site where entrepreneurs can meet developers </h3>
    
</div>